footer {
    font-size: 15px;
    margin-top: 30px;
    padding: 1%;
    background-color: rgb(6, 47, 61);
    color: rgb(255, 255, 255);
    margin-bottom: -20%;
    columns: 2;
  }
  
  .footer_info {
    margin-left: 1%;
  }
  